asn1crypto>=0.24.0
azure-common>=1.1.8
azure-nspkg>=2.0.0
azure-storage-blob>=1.1.0
azure-storage-common>=1.1.0
azure-storage-nspkg>=3.0.0
#ckan>=2.6
ckanapi>=4.1
configparser>=3.5.0
cryptography>=2.1.4
#dateutil
enum34>=1.1.6
futures>=3.2.0
ipaddress>=1.0.19
lxml>=4.2.0
pycparser>=2.18
simplejson
PyYAML>=3.12
uuid>=1.30
